@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


.ThirdPage{
    background-color: #d34f2d;
    padding: 100px 0;
    align-items: center;
    display: flex;
    overflow: hidden;

}
.ThirdTitle h1{
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 60px;
}
.ThirdTitle p{
    color: #e9a796;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
.Tick{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
}
.image2 img{
    width: 250px;
    height: auto;
}
.image2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.points{
    margin-left: 15px;
    color: #fff;
}
.pointTab{
    display: flex ;
    margin-top: 10px;
    align-items: center;
}
.Tick{
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined {
    color: #d34f2d;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  /* Responsiveness start */

@media only screen and (max-width: 1400px){
    .ThirdTitle h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 1400px){
    .ThirdTitle h1{
        font-size: 43px;
    }

}
@media only screen and (max-width: 992px){
    .ThirdTitle h1 {
        font-size: 38px;
        line-height: 45px;
    }

}
@media only screen and (max-width: 768px){
    .image2{
        display: none !important;
    }
}
@media only screen and (max-width: 577px){
    .ThirdPage {
        padding: 50px 0;
    }
    .ThirdTitle p{
        margin-bottom: 0px;
        font-size: 15px;
    }
    .ThirdTitle h1 {
        font-size: 33px;
        line-height: 35px;
        font-weight: 500;
    }
    .Tick {
        width: 45px;
        height: 45px;
    }
    .points {
        color: #fff;
        line-height: 19px;
        margin: 10px 0 0 10px;
    }
}
@media only screen and (max-width: 400px){
    .ThirdPage {
        padding: 40px 0;
    }
    .ThirdTitle p {
        font-size: 10px;
    }
    .ThirdTitle h1 {
        font-size: 21px;
        line-height: 24px;
        font-weight: 400;
    }
    .Tick {
        width: 35px;
        height: 35px;
    }
    .material-symbols-outlined {
        font-variation-settings:'opsz' 25;
    }
    .points {
        color: #fff;
        line-height: 12px;
        margin: 10px 0 0 10px;
        font-size: 9px;
    }
}
