@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


.Secondpage{
    padding: 100px 0;
    background-color: #000;
    align-items: center;
    display: flex;
}
.whyUs{
    color: #d34f2d;
    /* font-size: 20px; */
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.answer{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
 .videoSection{
    width: 300px;
    height: 80px;
    border: 3px solid #d34f2d;
    border-radius: 40px;
    cursor: pointer;
    align-items: center;
    display: flex;
 }
 .PlayBtn img{
    width: 20px;
    height: auto;
 }
 .PlayBtn{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: #d34f2d;
    margin-left: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
 }
 .vid-text{
    color: #fff;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;

 }

 /* Responsiveness start */

@media only screen and (max-width: 1400px){
    .answer{
        font-size: 42px;
    }
    .videoSection {
        width: 240px;
        height: 67px;
    }
    .PlayBtn {
        width: 55px;
        height: 55px;
    }
}
@media only screen and (max-width: 1200px){
    .answer{
        font-size: 35px;
    }
}
@media only screen and (max-width: 992px){
    .answer{
        font-size: 26px;
    }
    .videoSection {
        width: 240px;
        height: 67px;
    }
    .PlayBtn {
        width: 55px;
        height: 55px;
    }
}
@media only screen and (max-width: 769px){
    .Secondpage {
        padding: 65px 0;
    }
    .videoSection {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 577px){
    .Secondpage {
        padding: 40px 0;
    }
    .whyUs p{
        margin-bottom: 0px;
    }
    .answer {
        font-size: 13px;
        font-weight: 500;
    }
    .vid-text {
        margin-left: 15px;
        font-size: 14px;
    }
    .PlayBtn {
        width: 45px;
        height: 45px;
    }
    .videoSection {
        width: 210px;
        height: 55px;
    }
}
@media only screen and (max-width: 400px){
    .Secondpage {
        padding: 30px 0;
    }
    .whyUs p {
        font-size: 13px;
    }
    .PlayBtn img {
        width: 13px;
        height: auto;
    }
    .PlayBtn {
        width: 35px;
        height: 35px;
    }
    .vid-text {
        margin-left: 11px;
        font-size: 12px;
    }
    .videoSection {
        width: 170px;
        height: 45px;
        margin-top: 7px;
    }
    .answer {
        font-size: 8px;
        font-weight: 400;
    }
}
